# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments

env/
venv/
ENV/
.venv/

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

